//COLORS
$color-primary: #28b485;
$color-primary-light: #7ed56fe0;
$color-primary-dark: #55c57a;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: #000;
$color-white: #fff;

//GRID
$grid-width: 114rem;
$grid-width-small: 50rem;

$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gutter-vertical-small: 6rem;
$gutter-horizontal-small: 0;


$row-padding: 0 6rem;
$row-padding-medium: 0 3rem;
$row-padding-small: 0 2rem;

//LAYOUT
$padding: 3rem;

$padding--small: 0;

//NAVIGATION
//@ $buttonSize - diameter
//@ $buttonPlacement - from top-right corner of the screen
$buttonSize: 7rem;
$buttonPlacement: 6rem;
$buttonBgSize: $buttonSize - 1rem;

$buttonSize--small: 7rem;
$buttonPlacement--small: 4rem;
$buttonBgSize-small: $buttonSize--small - 1rem;

$buttonSize--phone: 7rem;
$buttonPlacement--phone: 3rem;
$buttonBgSize-phone: $buttonSize--small - 1rem;

//TYPOGRAPHY
$default-font-size: 1.6rem;

//SELECTORS
$placeholders: "::-webkit-input-placeholder,::-moz-input-placeholder,::-o-input-placeholder,::-ms-input-placeholder";

//MAPS
$cbs-selector-prefixes: (
  webkit: "-webkit-",
  moz: "-moz-",
  ms: "-ms-",
  o: "-o-",
  blank: "",
);
