/* | bg */

.header {
  height: 85vh;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    height: 95vh;

    @include section-bg('hero-small.jpg', polygon, 0, 0, 100%, 0, 100%, 75vh, 0, 100%);

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and  (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and  (min-width: 125em) {
      @include section-bg('hero.jpg', polygon, 0, 0, 100%, 0, 100%, 75vh, 0, 100%);
    }
  
    @include respond(portrait) {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
  }
  
  &__logo-box {
    //@ $$buttonPlacement - symmetric positioning to the nav-burger
    position: absolute;
    top: calc((#{$buttonSize} / 2 - #{$padding} + #{$buttonPlacement}));
    left: $buttonPlacement - $padding;
    transform: translateY(-50%);

    @include respond(landscape) {
      top: calc((#{$buttonSize} / 2 + #{$buttonPlacement}));
      left: $buttonPlacement;      
    }

    @include respond(portrait) {
      top: calc((#{$buttonSize--small} / 2 + #{$buttonPlacement--small}));
      left: $buttonPlacement--small;
    }

    @include respond(phone) {
      top: calc((#{$buttonSize--phone} / 2 + #{$buttonPlacement--phone}));
      left: $buttonPlacement--phone;
    }
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: calc(37.5vh - 2.1rem);
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);

    & >.btn {
      font-size: 1.6rem;
      margin-top: 6rem;
    }
  }
}



