.carousel {
  $bg-color: yellow;

  height: 100%;
  background-color: $bg-color;;
  position: relative;

  $btn-diameter: 6rem;
  $btn-padding: 1rem;
  $btn-size: calc(#{$btn-diameter} + #{$btn-padding} * 2);

  &__radio {
    /*
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    opacity: 0;
    */

    //display: none;

    &--1 {
    }

    &--2 {
    }

    &--3 {
    }
  }

  &__btn {
    width: $btn-diameter;
    height: $btn-diameter;
    padding: $btn-padding;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.2s ease-out, left 0s, right 0s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 1;
      transition: all 0.2s ease-out;
    }

    &:hover {
      transform: translateY(calc(-50% - 0.3rem));
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      &::after {
        transform: scale(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(calc(-50% - 0.1rem));
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &--1 {
      z-index: 990;
    }

    &--2 {
      left: 0;
      z-index: 991;
    }

    &--3 {
      right: 0;
    }

    &--4 {
      right: 35vw;
    }

    &--5 {
      right: 55vw;
    }

    &--6 {
      right: 75vw;
    }
  }

  &__page {
    background-image: linear-gradient(
      to right,
      red 0vw,
      red 100vw,
      blue 100vw,
      blue 200vw,
      yellow 200vw,
      yellow 300vw
    );
    display: inline-block;
    width: 300vw;
    height: 100vh;

    position: relative;
    right: 0vw;

    transition: all 0.2s ease-out;
  }
  /*
  &__radio:hover ~ &__toggle &__btn {
    transform: translateY(calc(-50% - 0.3rem));
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scale(1.6);
      opacity: 0;
    }
  }

  &__radio:focus ~ &__toggle &__btn {
    outline: none;
    transform: translateY(calc(-50% - 0.1rem));
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
*/

  &__radio--1:checked ~ .carousel__page {
    right: 0vw;
  }

  &__radio--2:checked ~ .carousel__page {
    right: 100vw;
  }

  &__radio--3:checked ~ .carousel__page {
    right: 200vw;
  }

  &__radio--1:checked ~ .carousel__label--1 .carousel__btn {
    left: 0;
    display: none;
  }

  &__radio--1:checked ~ .carousel__label--2 .carousel__btn {
    right: 0;
    left: unset;
  }

  &__radio--1:checked ~ .carousel__label--3 .carousel__btn {
    left: 0;
    display: none;
  }

  &__radio--1:not(:checked) ~ .carousel__label--1 .carousel__btn {
    left: 0;
    z-index: 988;
  }

  &__radio--3:not(:checked) ~ .carousel__label--3 .carousel__btn {
    right: 0;
  }

  &__radio--2:checked ~ .carousel__label--2 .carousel__btn {
    left: 0;
    z-index: 987;
    opacity: 0;
  }

  &__radio--2:checked ~ .carousel__label--3 .carousel__btn {
    right: 0vw;
  }

  &__radio--3:checked ~ .carousel__label--3 .carousel__btn {
    visibility: hidden;
    left: 0;
    right: unset;

    &::after {

    }
  }

}
