.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  padding-bottom: 8rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s;
  backface-visibility: hidden;

  @include respond(landscape) {
    padding: 2rem;
    padding-bottom: 7rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    background-color: rgba($color-white, 0.8);

    &:hover {
      transform:
        scale(1.03)
        translateY(-1.5rem);
    }
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;

    @include gradient-text(to right, $color-primary-light, $color-primary-dark, text);

    @include respond(portrait) {
      margin: 0;
    }
  }
}
