/* | resets */
*,
*::after,
*::before {
  /* to force inheritance, .layout(body) {box-sizing: border-box} */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

//
html {
  /* | for rem units, if 1rem = 10px -- 10/16 = 62.5% of default 16px */
  font-size: 62.5%; //1rem = 10px; 10px / 16 = 62.5%

  @include respond(whale) { // < 1200px
    font-size: 75%; // 1rem = 12px, 12px / 16 = 75%
  }

  @include respond(landscape) { // < 900px
    font-size: 56.25%; // 1rem = 9px, 9px / 16 = 56.25%
  }

  @include respond(portrait) { // > 1800px
    font-size: 50%; // 1rem = 8px, 8px / 16 = 50%
  }
}

.layout {
  /* not inherited by default */
  box-sizing: border-box;
  padding: $padding;

  @include respond(landscape) {
    padding: $padding--small;
  }
}
