.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  padding-top: calc(20vh + 10rem);
  margin-top: -20vh;

  @include respond(portrait) {
    padding: 10rem 0;
    padding-top: calc(10vh + 5rem);
    margin-top: -10vh;    
  }
}

.section-features {
  display: table;
  padding: calc((100% - #{$grid-width} + 6rem) / 2);
  padding-top: 20rem;
  padding-bottom: 20rem;
  width: 100%;
  // $skewY: -7 * 1deg;
  // transform: skewY(#{$skewY});
  // margin-top: -10rem;

  @include section-bg('nat-4--small.jpg');

  @media only screen and(min-resolution: 192dpi) and (min-width: 37.5em),
  screen and (min-width: 125em) {
    @include section-bg('nat-4.jpg');
  }

  .row {
    display: table-row;
    padding: 0;

    @include respond(landscape) {
      display: block;
      padding: $row-padding;
    }

    @include respond(portrait) {
      padding: $row-padding-medium;
    }
  
    @include respond(phone) {
      padding: $row-padding-small;
    }

    [class*="col"] {
      width: 25%;
      display: table-cell;
      float: none;
      background-color: rgba($color-white, 0.8);
      background-clip: content-box;
      transition: transform .3s;
      border-right: solid 3rem transparent;
      border-left: solid 3rem transparent;

      @include cbs(filter, drop-shadow(0 1.5rem 4rem rgba($color-black, 0.15)));

      &:hover {
        transform:
          scale(1.03)
          translateY(-1.5rem);
      }
      
      @include respond(landscape) {
        background-color: initial;
        box-shadow: none;
        display: block;
        filter: none;
        float: left;
        border-right: none;
        border-left: none;

        &:hover {
          transform: none;
        }
      }    
    }
  }

  @include respond(portrait) {
    padding: 10rem 0;
  }

  & > * {
    // transform: skewY(calc(#{$skewY} * -1));
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0 15rem 0;
  //margin-top: -10rem;

  @include respond(portrait) {
    padding: 10rem 0 10rem 0;
  }
}

.section-stories {
  padding: 20rem 0;
  background-color: transparent;
  position: relative;

  @include respond(portrait) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 20rem 0;
  
  @include linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(portrait) {
    padding: 10rem 0;
  }
}

.book {
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  @include linear-gradient(105deg, rgba($color-white, .9) 50%, transparent 50%, 'nat-10.jpg');

  @include respond(landscape) {
    @include linear-gradient(105deg, rgba($color-white, .9) 65%, transparent 65%, 'nat-10.jpg');
  }

  @include respond(portrait) {
    @include linear-gradient(to right, rgba($color-white, .9) 0, rgba($color-white, .9) 100%, 'nat-10--retina.jpg');
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(landscape) {
      width: 65%;
    }

    @include respond(portrait) {
      width: 100%;
    }
  }
}